*
{
    margin:0;
    padding:0;
}

#nav-var
{
    position: sticky;
    top:0;
    z-index:top;
}

.navbar-nav li
{
  padding: 0px 10px;
}
.navbar-nav li a
{
 float:right;
 text-align: left;
}
#nav-var ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border:none!important;
}
.nav-link
{
    color:555!important;
    font-weight: 600;
    font-size:26px;
}
.carousel-item 
{
 padding-top: 50px;
}
#particles-js
{
    background-image:linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url(pexels-photo-1669068.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}